/* -------СКИДАННЯ СТИЛІВ--------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    display: block;
}

/* ----------------------------------------- */

:root {
    --btn-and-logo: #4D5AE5;
    --hover-focus-color: #404BBF;
    --bg-color: #FFFFFF;
    --bg-color-team-footer: #F4F4FD;
    --titles-color: #2E2F42;
    --main-color: #434455;
    --btn-border-color: #E7E9FC;
    --background-two: rgba(46, 47, 66, 0.70);
    --backdrop-shadow: rgba(46, 47, 66, 0.4);
    --modal-shadow: #FCFCFC;
    --green-hover: #31D0AA;
    --customers: #8e8f99;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-color);
    background-color: var(--bg-color);
}

.section {
    padding: 120px 0 120px;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}